Welcome to {{ansible_fqdn}}, another high quality system from RedPen Security.

System Statistics:
System Memory: {{ansible_facts['memtotal_mb']}}MB
Processor Count: {{ansible_facts['processor_count']}}
Primary Disk Size: {{ansible_facts['devices']['sda']['size']}}
{%if ansible_facts['devices']['sdb'] is defined %}
Secondary Disk Size: {{ ansible_facts['devices']['sdb']['size'] }}
{% else %}
Secondary Disk Size: NOT AVAILABLE
{% endif %}

