<VirtualHost *:80>
  ServerName {{ansible_fqdn}}
  ServerAlias *.{{ansible_fqdn}}
  ServerAdmin webmaster@example.org
  ErrorLog /var/log/httpd/example.err
  CustomLog /var/log/httpd/example.log combined
  DocumentRoot /var/www/html
  <Directory "/var/www/html">
    Order allow,deny
    Allow from all
  </Directory>
</VirtualHost>
